<%= form_for :game, :url => games_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :turn_id, :value => 0 %>

  <div>
    <%= form.submit "Create game" %>
  </div>
<% end %>
