<h1>Active Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= game.name%> |
      <%= link_to "Join", game_path(game.id)%> |
      <%= link_to "Reset" %> |
      <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure you want to remove this game?' } %>
    </li>
  <% end %>
</ul>

<%= link_to "New Game", new_game_path %>
