<h1>Game: <%=@game.name%></h1>
<h2>ID: <%=@game.id%><h2>


<p>Current Tile: <%= @board.position_id %></p>

<% @tile_set.reverse.each { |current_tile| %>
     <%= current_tile.draw %>
<% } %>


<p>Rolled number: <%= @last_roll %></p>

<%= @dice %>

<%= button_to "Roll", game_update_roll_path(@game), method: :get %>
