<h1>Game: <%=@game.name%></h1>
<h2>ID: <%=@game.id%></h2>


<%=@board.position_id%>

<ul class="board">
  <% @tile_set.reverse.each do |current_tile| %>
    <li class="tile tile--<%= current_tile.type %>">
      <%= current_tile.id %>
    </li>
  <% end %>
</ul>


<p>Your roll: <%= @last_roll %></p>

<%= @dice %>

<%= button_to "Roll dice", game_update_roll_path(@game), method: :get %>


<%= @current_player.nickname %> | <%= @current_player.uuid %> | active player

<ul>
  <% @users_in_game.each do |u|%>
    <li> <%= u.nickname %> | <%= u.uuid %> | Tile = <%= u.position_id %></li>
  <% end %>
</ul>
