<h1>Game: <%=@game.name%></h1>
<h2>ID: <%=@game.id%></h2>

<% @tile_set.reverse.each do |current_tile| %>
  <%= current_tile.draw %>
<% end %>

<p>Your roll: <%= @last_roll %></p>

<%= @dice %>

<%= button_to "Roll dice", game_update_roll_path(@game), method: :get %>
