<h1>Game: <%=@game.name%></h1>

<div class="column-wrapper">
  <div class="left-column">
    <ul class="board">
      <% @tile_set.reverse.each do |current_tile| %>
        <li
          class="tile tile--<%= current_tile.type %>
          <%= 'tile--has-counter' if current_tile.has_counter? %>"
        >
          <span class="tile__number">
            <%= current_tile.id %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-column">
    <p>Your roll: <%= @last_roll %></p>

    <%= @dice %>

    <%= button_to "Roll dice", game_update_roll_path(@game), method: :get, class: 'button' %>
  </div>
</div>
