<h1>Game: <%=@game.name%></h1>
<h2>ID: <%=@game.id%></h2>

<meta http-equiv="refresh" content="1">

<div class="column-wrapper">
  <div class="left-column">
    <ul class="board">
      <% @tile_set.reverse.each do |current_tile| %>
        <li class="tile tile--<%= current_tile.type %>">
          <span class="tile__number">
            <%= current_tile.id %>
          </span>
          <% @users_in_game.each_with_index do |user, index| %>
            <% if user.position_id == current_tile.id %>
              <span class="counter <%= "counter--#{index}" %>"></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-column">
    <div>
      <h3>Players in game</h3>
      <ul class="player-list">
        <% @users_in_game.each_with_index do |u, index|%>
          <li class="player-list__player">
            <%= u.nickname %> |
            <span class="counter <%= "counter--#{index}" %>"></span>
            &nbsp;<%= '<-- Your turn' if @current_player.uuid == u.uuid %>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <%= @dice %>
      <%= button_to "Roll dice", game_update_roll_path(@game), method: :get, class: 'button' %>
    </div>
  </div>
</div>
