<h1>Game: <%=@game.name%></h1>
<h2>ID: <%=@game.id%></h2>

<meta http-equiv="refresh" content="2">

<div class="column-wrapper">
  <div class="left-column">
    <ul class="board">
      <% @tile_set.each_with_index do |current_tile, index| %>
        <li class="tile tile--<%= index %> tile--<%= current_tile.type %>">
          <span class="tile__numbers">
            <%= current_tile.id %>
          </span>
          <span class="tile__counters">
            <% @users_in_game.each_with_index do |user, index| %>
              <% if user.position_id == current_tile.id %>
                <span class="counter <%= "counter--#{index}" %>"></span>
              <% end %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-column">
    <div>
      <h3>Players in game</h3>
      <table class="player-list">
        <tr>
          <th>Nickname</th>
          <th>Gem</th>
        </tr>
        <% @users_in_game.each_with_index do |u, index|%>
          <tr>
            <td>
              <% if u.uuid.to_i == @user_id.to_i %>
                <span class="highlight">
                  <%= u.nickname %>
                <span>
              <% else %>
                <%= u.nickname %>
              <% end %>
            </td>
            <td>
              <span class="counter <%= "counter--#{index}" %>"></span>
              &nbsp;<%= '<-- Your turn' if @current_player.uuid == u.uuid %>
            </td>
          </tr>
        <% end %>
      </table>

      <%= render :partial => 'log' %>
    </div>

    <div>
      <%= button_to "Leave Game", root_path, method: :get, class: 'button button--full button--exit' %>
    </div>

    <div>
      <% if @current_player.uuid.to_i == @user_id.to_i %>
        <%= button_to "Roll dice", game_update_roll_path(@game), method: :get, class: 'button button--full button--dice' %>
      <% else %>
        <%= button_to "Not your turn", game_path(@game), :disabled => true ,class: 'button button--full button--disabled'%>
      <% end %>
    </div>
  </div>
</div>
